<% cache [locale_and_user_status, commentable_cache_key(@proposal), @comments, @proposal.comments_count] do %>
  <div class="row comments">
    <div id="comments" class="small-12 column">
      <% @comments.each do |comment| %>
        <%= render 'comments/comment_pdf.html.erb', {comment: comment, inactive: !Proposal.in_active_period?} %>
      <% end %>
    </div>
  </div>
<% end %>
