<div class="sidebar-divider"></div>
<h2 class="sidebar-title">Aporta a</h2>
<br>
<p>1) transparencia, 2) acceso a la informaci贸n publica, 3) rendicion de cuentas publicas, 4) participaci贸n ciudadana, colaboraci贸n e innovaci贸n publica</p>
