<table>
  <tbody>
    <tr id="<%= dom_id(document)%>">
      <td class="document-link">
        <%= link_to  document.title ,
                    document.attachment.url,
                    target: "_blank",
                    rel: "nofollow" %>
      </td>
      <% if !local_assigns[:inactive] %>
        <td class="text-center">
          <% if can?(:destroy, document) %>
            <%= link_to t('documents.buttons.destroy_document'),
                          document_path(document, from: request.url), method: :delete,
                          data: { confirm: t('documents.actions.destroy.confirm') },
                          class: 'button hollow alert' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
