<div class="row <% 'documents-list' if documents.any? %>">
  <div class="small-12 column">
    <% if documents.any? %>
      <%= render partial: "documents/document.html.erb", collection: documents, locals: {pdf: true} %>
    <% end %>
  </div>
</div>
