<div class="row">
  <div class="small-12 column margin-top">
    <% if @comment.commentable.class.name.underscore == 'proposal' && !@comment.commentable.is_proposal %>
      <%= back_link_to legislation_proposal_path(@comment.commentable),
                     t("comments.show.return_to_commentable") + @comment.commentable.title unless @commentable.class == Poll %>
    <% else %>
      <%= back_link_to commentable_path(@comment),
                     t("comments.show.return_to_commentable") + @comment.commentable.title unless @commentable.class == Poll %>
    <% end %>
  </div>
</div>

<section class="comments">
  <div class="row">
    <div id="comments" class="small-12 column">
      <%= render @comment %>
    </div>
  </div>
</section>
