<div class="sidebar-divider"></div>
<h2 class="sidebar-title">Aporta a</h2>
<br>

<ul class="no-bullet categories">
  <% Geozone.all.order(name: :asc).each do |geozone| %>
    <li class="inline-block">
      <% css_class = { class: 'active' } if params[:search] == geozone.name %>
      <%= link_to geozone.name, legislation_proposals_path(search: geozone.name, is_proposal: false), css_class || {} %>
    </li>
  <% end %>
</ul>
