<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top conditions">

  <div class="small-12 medium-9 column">
    <h3>Términos y condiciones de uso del Plan de Acción de AGESIC</h3>
    <ol>
      <li class="padding-top-10"><strong>Condición de usuario</strong></li>
      	<ul>
          <li>A los efectos de la utilización de este sitio se considera la existencia de dos tipos de Usuarios:
          </li>
          <ul>
	          <li>Cualquier persona física, jurídica, o entidad pública, estatal o no, que utilice la información brindada en este sitio directamente, o a través de una aplicación informática.
	          </li>
	          <li>Cualquier persona física, jurídica, o entidad pública, estatal o no, que ingresa al sitio para recorrer, conocer e informarse.
	          </li>
          </ul>
        </ul>
      <li class="padding-top-10"><strong>Aceptación de los Términos y Condiciones</strong></li>
        <ul>
          <li>Los presentes Términos y Condiciones regulan el uso del servicio del sitio de Herramientas de E – Participación que pertenece a la Agencia para el Desarrollo del Gobierno de Gestión Electrónica y la Sociedad de la Información y del Conocimiento (AGESIC), el cual se pone a disposición de los usuarios de Internet.<br>
          AGESIC tiene su domicilio en Torre Ejecutiva Sur, Liniers 1324, piso 4° de la ciudad de Montevideo, Uruguay.<br>
          La utilización del servicio del sitio web atribuye la condición de usuario a quienes se adhieran a los presentes términos y condiciones e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones en ellos incluidas en la versión publicada, en el momento en que el usuario acceda al sitio. En consecuencia, el usuario debe leer atentamente los términos y condiciones en cada una de las ocasiones en que se proponga utilizar el sitio, ya que éstos pueden sufrir modificaciones.<br>
          Los presentes Términos y Condiciones son aplicables a toda persona física, jurídica, entidad pública, estatal o no, que acceda, descargue, utilice, reutilice y/o redistribuya información contenida en el sitio, directamente o a través de una aplicación informática. Los términos y condiciones vincularán a cualquier usuario por el mero hecho de hacer uso de los documentos sometidos a ellas.<br>
          Los presentes Términos y Condiciones de uso podrán ser modificados, siendo  difundidos a través del sitio del 4to Plan de Acción Nacional de Gobierno Abierto 2018 - 2020, cobrando vigencia a partir de ese momento.

          </li>
        </ul>
      <li class="padding-top-10"><strong>Objeto</strong></li>
        <ul>
          <li>A través de la presente plataforma se busca fomentar la participación de los ciudadanos en la gestión de las políticas públicas, involucrándose en las generación de propuestas novedosas y viables, con el objetivo de mejorar su calidad de vida. Es una apuesta a acercar a la gestión del Estado a todas las personas que así lo deseen, de forma que con las propuestas que aporten se puedan generar ideas para crear compromisos para el 4° Plan de Acción Nacional de Gobierno Abierto.
          </li>
        </ul>
      <li class="padding-top-10"><strong>Condiciones de acceso y utilización del sitio web</strong></li>
      <ul>
          <li>La prestación de servicios tiene carácter gratuito para los Usuarios.<br>Los Usuarios se obligan a hacer buen uso del sitio web y de sus contenidos, respetando la normativa nacional vigente, las buenas costumbres y el orden público, comprometiéndose en todos los casos a no causar daños a AGESIC ni a ningún tercero.<br>A tal efecto, el Usuario se abstendrá de utilizar cualquiera de los servicios con fines o efectos ilícitos, prohibidos en los presentes Términos y Condiciones, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios, documentos y toda clase de contenidos en cualquier equipo informático de AGESIC, o de otros Usuarios.<br>Salvo indicación en contrario, la información contenida en el portal será considerada de carácter público. Cuando su uso o tratamiento esté sujeto a algún tipo de restricción deberá estarse a lo indicado expresamente en ese caso.
          </li>
        </ul>
      <li class="padding-top-10"><strong>Obligaciones de los Usuarios</strong></li>
        <ul>
          <li>Son obligaciones de los Usuarios en general:</li>
          <ul>
	          <li>No dañar, inutilizar o deteriorar los sistemas informáticos de la entidad o de terceros, ni los contenidos incorporados y/o almacenados en éstos.
	          </li>
	          <li>No modificar los sistemas de la entidad de ninguna manera, no utilizar versiones de sistemas modificados con el fin de obtener acceso no autorizado a cualquier contenido y/o servicios del sitio.
	          </li>
	          <li>No interferir ni interrumpir el acceso y utilización del sitio, servidores o redes conectados al mismo, o incumplir los requisitos, procedimientos y regulaciones de la política de conexión de redes.
	          </li>
        	</ul>
        	<li>AGESIC podrá actuar contra cualquier utilización del sitio por parte del Usuario que:</li>
        	<ul>
	          <li>No esté de acuerdo con los términos establecidos.- Infrinja o vulnere los derechos de propiedad intelectual e industrial u otros análogos de la entidad pública.
	          </li>
	          <li>AGESIC se reserva la facultad de modificación, en cualquier momento, sin aviso previo, de la presentación, configuración del sitio, de los contenidos y servicios que en él se incorporan. Podrá asimismo, interrumpir, desactivar y/o cancelar cualquiera de los contenidos y/o servicios que se integran en éste.
	          </li>
        	</ul>
        </ul>
      <li class="padding-top-10"><strong>Propiedad Intelectual</strong></li>
        <ul>
          <li>Todas las marcas, nombres comerciales o signos distintivos de cualquier clase que eventualmente aparezcan en este sitio web son propiedad de AGESIC o de terceros, sin que pueda entenderse que el uso o acceso al sitio atribuye al Usuario derecho alguno sobre las citadas marcas, nombres comerciales o signos distintivos de cualquier clase.
          </li>
        </ul>
        <li class="padding-top-10"><strong>Exclusión de garantías y de responsabilidad</strong></li>
        <ul>
          <li>La veracidad, integridad y actualidad de los contenidos publicados en el sitio del 4° Plan de Acción Nacional de Gobierno Abierto 2018 - 2020 son de exclusiva responsabilidad de la entidad pública que los proporciona.
          <br>AGESIC se exonera de cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la falta de disponibilidad o continuidad del funcionamiento del portal o de los servicios, o la defraudación de la utilidad que los usuarios hubieren podido atribuir al sitio web y a los servicios, a la fiabilidad de éstos, y en particular, aunque no de modo exclusivo, a los fallos en el acceso a las distintas páginas web o a aquéllas desde las que se prestan los servicios. Cuando se trate de interrupciones programadas, las mismas serán anunciadas en el sitio.<br>Tanto el acceso a la web como el uso sin consentimiento que pueda efectuarse de la información contenida en la misma es de exclusiva responsabilidad de quien la realiza. AGESIC no responderá de ninguna consecuencia, daño o perjuicio que pueda derivarse de dicho acceso o uso.
          </li>
        </ul>
        <li class="padding-top-10"><strong> Link o enlace a terceros sitios</strong></li>
        <ul>
          <li>El presente sitio puede contener dispositivos técnicos de enlace que ponen a disposición de los usuarios (tales como links, banners, botones), directorios y herramientas de búsqueda que permiten a los usuarios acceder a sitios web pertenecientes a terceros. La instalación de estos enlaces, directorios y herramientas de búsqueda en el sitio tienen por único objeto facilitar a los usuarios la búsqueda y acceso a otros sitios disponibles en Internet.<br>
          Los enlaces a otros sitios Web no implican aprobación ni responsabilidad alguna por parte de AGESIC, respecto de la información en ellos contenida. Por ello, AGESIC no asume responsabilidad desde el punto de vista jurídico o de otra índole, por la precisión, oportunidad, contenidos, usos que se dé a la información y a los documentos que se presentan en esta página, o en aquellas que se encuentren vinculadas con ésta. <br>
          AGESIC no asume ninguna responsabilidad por la información proporcionada por terceros y reproducida en este sitio. Por lo tanto, el ingreso a un sitio enlazado es de única y exclusiva responsabilidad del usuario.

          </li>
        </ul>
        <li class="padding-top-10"><strong>Proteccion de datos personales</strong></li>
        <ul>
          <li>Cuando un usuario entregue datos personales, AGESIC se entenderá autorizada a su tratamiento según lo establecido en el marco normativo vigente en materia de protección de datos personales. En su mérito, tales datos serán protegidos de acuerdo con dicha normativa y podrán ser utilizados exclusivamente para la finalidad para la cual hayan sido brindados. Podrán ser transmitidos a entidades públicas o a terceros, única y exclusivamente cuando la consecución de la finalidad perseguida por el Usuario, así lo requiera o con su consentimiento.<br>
          AGESIC podrá utilizar cookies cuando el usuario navega por el sitio web pero éste puede configurar su navegador para ser avisado de la recepción de las cookies e impedir en caso de considerarlo adecuado, su instalación en el disco duro.
          </li>
        </ul>
        <li class="padding-top-10"><strong>Retiro y suspensión de los servicios</strong></li>
        <ul>
          <li>AGESIC podrá retirar o suspender en cualquier momento y sin necesidad de aviso previo la prestación de los servicios a aquellos usuarios que incumplan lo establecido en los presentes Términos y Condiciones.
          </li>
        </ul>
        <li class="padding-top-10"><strong>Duración y terminación</strong></li>
        <ul>
          <li>La prestación del servicio del portal tiene una duración indefinida, no obstante, AGESIC está autorizada para dar por terminada o suspendida, total o parcialmente, la prestación del servicio del portal o de cualquiera de los servicios asociados, cuando entienda que no están dadas las condiciones para su continuidad, mediante acto fundado que será publicitado en forma genérica.
          </li>
        </ul>
        <li class="padding-top-10"><strong>Legislación aplicable y jurisdicción competente</strong></li>
        <ul>
          <li>Los presentes términos y condiciones se rigen en todos y cada uno de sus extremos por la ley, así como por la jurisdicción y competencia de los tribunales uruguayos.
          </li>
        </ul>
        <li class="padding-top-10"><strong>Notificaciones</strong></li>
        <ul>
          <li>Todas las notificaciones y comunicaciones por parte de los Usuarios al portal de AGESIC se considerarán eficaces, a todos los efectos, cuando se dirijan por medio de la opción contáctenos del sitio web.<br>Las consultas relativas a conjuntos de datos, se deberán remitir al correo electrónico aportado por el catalogador de los mismos, según lo indicado en el punto 5 de este documento.
          </li>
        </ul>
        <li class="padding-top-10"><strong>Procedimiento en caso de realización de actividades de carácter ilícito</strong></li>
        <ul>
          <li>En el caso de que un Usuario verifique la existencia en el portal de contenidos ilícitos, o el favorecimiento ostensible de actividades de igual carácter, deberá comunicarlo al titular del portal a través de los medios disponibles, aportando la información y fundamentos.<br>Toda vez que se considere que existe un contenido erróneo, incompleto o desactualizado, puede comunicarlo al correo electrónico aportado por el catalogador de los datos, según lo indicado en el punto 5 de este documento.
          </li>
        </ul>
        <li class="padding-top-10"><strong>Contacto</strong></li>
        <ul>
          <li>Para cualquier sugerencia o propuesta de colaboración escríbanos por correo electrónico a gobiernoabierto@agesic.gub.uy.
          </li>
        </ul>
    </ol>
  </div>
</div>
