<div class="row">
	<p class="medium-text">La consulta pública estará habilitada en el mes de junio por un período de dos semanas.</p>

	<p class="medium-text">Las propuestas recibidas que hayan evolucionado en compromisos estarán disponibles para la consulta pública a través de esta plataforma a efectos de mejorar y enriquecerlos.</p>

	<p class="medium-text">Para conocer las etapas del proceso acceder a Mas Información</p>
</div>
