<div class="row">
  <div class="small-12 column">
  	<p>La consulta pública estará habilitada en el mes de junio por un período de dos semanas.</p>

  	<p>Las propuestas recibidas que hayan evolucionado en compromisos estarán disponibles para la consulta pública a través de esta plataforma a efectos de enriquecerlas.</p>

  	<p>Para conocer las etapas del proceso acceder a <%= link_to 'más información', more_info_path %></p>
  </div>
</div>
