<div class="row">
  <div class="small-12 column">
    <p>Por consultas o dudas sobre el proceso, las propuestas o ayuda técnica, contactarse con el equipo de Gobierno Abierto a <a href="mailto:gobiernoabierto@agesic.gub.uy">gobiernoabierto@agesic.gub.uy</a> </p>
  </div>
</div>
