.top-bar {
	background-color: #08296c !important;
}

.header-bg{
	background-color: #08296c !important;
}

.highlight{
	background-image: asset_url('home-bg.png');
	background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
	color: #fff;
	min-height: 400px;
}

.line-h-3_5{
	line-height: 3.5rem;
}

.margin-top-30{
	margin-top: 30px;
}

.margin-top-10{
	margin-top: 10px;
}

.margin-bot-50{
	margin-bottom: 50px;
}

.margin-bot-10{
	margin-bottom: 10px;
}

.social{
	margin-right: 50px;
}

.negativ-margin {
	margin-top: -15px;
}

form .checkbox, form .radio {
  display: unset !important;
}

.margin-right-10{
	margin-right: 10px;
}

.pull-left{
	text-align: left;
}

.logo-yellow{
	color: #f2ca30;
	font-size: 1.5rem !important;
	margin-bottom: 3px;
	margin-top: 8px;
}
.top-bar .top-bar-title h3:hover {
  color: #f2ca30 !important;
}

.top-bar .top-bar-title a:focus {
	padding-bottom: 10px;
}

a:hover h3 {
  color: #f2ca30 !important;
}

.button:hover {
	background: #e7f2fc;
	color: black;
}

.pull-right{
	float: right;
}

h3.logo:hover {
	color: #f2ca30 !important;
}

.yellow-border{
	border-left: 6px solid #f2ca30;
	max-height: 8rem;
	min-height: 8rem;
}

.margin-footer-p{
	margin-right: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.blue-text{
	color: #08296c;
}

.pull-top-1{
	margin-top: -5px;
}

.pull-top-2{
	margin-top: -5px;
}

.pull-top-3{
	margin-top: -5px;
}

.blue-text:hover {
  color: #08296c;
}

.big-text{
	font-size: 35px;
}

.medium-text{
	font-size: 22px;
}

.fa {
    padding: 10px;
    font-size: 13px;
    width: 33px;
    text-align: center;
    text-decoration: none;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
