// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//


.proposals-create, .proposal-edit{
  position: relative;
}

.comments {
  @include direct-uploads;
}

.top-bar .top-bar-title a {
  line-height: 2.5rem;
  width: 600px;
}

.footer, .push {
  min-height: 8rem;
}
