// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

footer{
  background-color: #fff;
  border-top: 6px solid #fff;

  p {
  	font-size: 0.5rem;
  }
}


.menu li a {
	font-weight: 300;
}

.text h2 {
	font-weight: 300;
}

.proposal-content a{
		font-weight: 500;
}

.font-w{
	font-weight: 500 !important;
	font-family: Montserrat-Medium !important;
}

.pull{
	float: right !important;
}

.footer {
  background: #fff;
  border-top: 6px solid #fff;
}

a:focus {
  outline: 3px solid #f2ca30 !important;
}

.margin-left-10{
	margin-left: 15px;
}

.padding {
  padding-bottom: 0rem;
}

.text-white{
	color: #fff;
}

.m-big-text{
	font-size: 32px;
}

.big-p{
	font-size: 18px;
}

p{
	font-size: 0.8rem;
}

.body-link:hover {
    color: #000;
}

footer .logo a:hover {
  color: #08296c !important;
}

.logo a:hover {
  color: #fff !important;
}

.ih-footer {
	line-height: 1.2rem !important;
}

a:focus {
    color: #fff;
    outline: 3px solid #ffbf47;
}

a:hover, a:focus {
    color: none !important;
  }

.proposals-create, .proposal-edit{
  position: relative;
}

.line-h-2{
	line-height: 2.0rem !important;
}

.log-text{
	font-size: 22px;
	display: inline-block;
	margin-top: 20px;
	text-align: left;
}

.comments {
  @include direct-uploads;
}

.float-right .comment-by-organism {
  margin-right: 5px;
}

.top-bar .top-bar-title a {
  line-height: 0.5rem;
  width: 550px;
}

.footer, .push {
  min-height: 6rem;
}

.footer {
    margin-top: 0;
}

.footer-15rem {
    margin-top: 15rem;
}

.small-margin-right-30{
	margin-right: 0px;
}

@media (min-width: 1300px) {

	.margin-footer-p{
		padding-left: 0px;
	}

}

@media (min-width: 810px) and (max-width: 1030px) {
	.pull-top-3{
		margin-top: -10px !important;
	}

	.pull-top-2{
		margin-top: -10px !important;
	}

	.pull-top-1{
		margin-top: -10px !important;
	}

	.titel-margin-left{
		margin-left: 15px;
	}

	.small-margin-left{
		margin-left: 16px;
	}

	.top-bar .top-bar-title a {
		padding-left: 12px;
	}

	.yellow-border{
		max-height: 8rem !important;
		min-height: 8rem !important;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1025px) {
	.pull-top-3{
		margin-top: -10px !important;
	}

	.pull-top-2{
		margin-top: -10px !important;
	}

	.pull-top-1{
		margin-top: -10px !important;
	}

	.titel-margin-left{
		margin-left: 15px;
	}

	.small-margin-left{
		margin-left: 16px;
	}

	.top-bar .top-bar-title a {
		padding-left: 12px;
	}

	.yellow-border{
		max-height: 8rem !important;
		min-height: 8rem !important;
		margin-bottom: 20px;
	}

	.big-p {
    font-size: 16px !important;
	}

}

@media (min-width: 100px) and (max-width: 700px) {
	.logo {
	  font-size: 18px;
	  display: inline;
	}
	.top-bar {
    line-height: 1.2rem;
	}

	.big-text{
		font-size: 32px !important;
	}

	.medium-text{
		font-size: 18px !important;
	}

	.line-h-3_5{
		line-height: 2.0rem !important;
	}

	.yellow-border{
		margin-bottom: 5px;
	}

	.highlight{
		background-image: asset_url('home-bg-small.png') !important;
		min-height: 200px;
	}
	.logo-yellow {
    margin-bottom: -15px !important;
	}

	.small-margin-top-30{
		margin-top: 50px !important;
	}
	.margin-bot-50{
		margin-bottom: 0px !important;
	}
}

@media (min-width: 100px) and (max-width: 768px) {
	.logo {
	  font-size: 18px !important;
	  display: inline;
	  margin-left: 12px;
	}

	.m-big-text{
		font-size: 22px !important;
	}

	.titel-margin-left{
		margin-left: 10px;
	}


	.big-p {
    font-size: 16px !important;
	}

	footer .medium-text{
		font-size: 18px !important;
	}

	.title-margin-left{
		margin-left: 15px;
	}

	.tablet-logo{
		margin-top: -35px;
	}

	.top-bar .top-bar-right {
    width: min-content;
	}

	.yellow-border{
		max-height: 10rem !important;
		min-height: 10rem !important;
		margin-bottom: 20px;
	}

	.pull-top-3{
		margin-top: -10px !important;
	}

	.pull-top-2{
		margin-top: -10px !important;
	}

	.pull-top-1{
		margin-top: -10px !important;
	}

	.blue-text{
		font-size: 28px;
	}

	.log-text{
		font-size: 15px;
		display: inline-block;
		text-align: left;
		margin-top: 20px;
	}

	.margin-footer-p{
		margin-right: 0px;
		margin-top: -88px !important;
		margin-left: 5px !important;
		margin-bottom: 0px;
	}

	.small-margin-left{
		margin-left: 20px;
	}
}

@media (min-width: 100px) and (max-width: 575px) {
	.top-bar .top-bar-right {
		width: initial !important;
	}

	.big-p {
    font-size: 18px !important;
	}

	.margin-footer-p{
		margin-top: 0px !important;
		margin-left: 60px !important;
	
  }
	
	.menu-margin{
	  margin-top: 20px;
	  float: left !important;
	}

	.yellow-border{
		max-height: 8rem !important;
		min-height: 8rem !important;
		margin-bottom: 5px;
	}

	.log-text{
		font-size: 22px;
		display: block;
		margin-top: 0px;
	}

	.presidencia-margin{
		margin-right: 60px;
	}

	.pull-top-3{
		margin-top: -15px !important;
	}

	.pull-top-2{
		margin-top: -5px !important;
	}

	.pull-top-1{
		margin-top: -5px !important;
	}

	.pull{
		float: left !important;
	}

	.small-margin-left{
		margin-top: 20px;
		float: left !important;
	}
}

@media (min-width: 100px) and (max-width: 375px) {
	.logo {
	  font-size: 14px !important;
	  display: inline;
	}

	.pull-top-3{
		margin-top: -15px !important;
	}

	.pull-top-2{
		margin-top: -15px !important;
	}

	.pull-top-1{
		margin-top: -15px !important;
	}

}


@media (min-width: 100px) and (max-width: 325px) {
	.logo {
	  font-size: 12px !important;
	  display: inline;
	}
	.top-bar {
    line-height: 1.2rem;
	}

	.log-text{
		font-size: 18px;
	}

	.presidencia-margin{
		margin-right: 60px;
	}
}


.pull-right {
  float: right;
}

.accept-terms-text{
	font-size: 0.8rem;
}

.terms-and-conditions label {
	padding-left: 20px;
  margin-bottom: -30px;
}

.terms-and-conditions .input-not-accept {
	margin-left: 20px;
}

.terms-and-conditions .span-not-accept {
	padding-left: 7px;
}
