// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

h2{
	font-size: 32px;
	color: #08296c;
}

h3 {
	color: #08296c;
}

h4{
	font-size: 22px;
}

h4 a {
	color: black;
}

.padding-top-10 {
	padding-top: 10px;
}

.proposal-show h2{
	font-size: 26px;
	color: black;
}

.proposal-show h3{
	font-size: 26px;
	color: black;
}

.jumbo.light {
	background-color: #e7f2fc;
}

ul.menu.vertical.margin-top li {
	margin-left: 6px;
  font-size: 16px;
}

ul.menu.vertical.margin-top {
  background-color: #e7f2fc;
}

.privacy h5{
	font-weight: 100;
}

.proposal-form .recommendations li::before, .document-form .recommendations li::before, .topic-form .recommendations li::before, .topic-new .recommendations li::before {
	color: black;
}

.conditions ul li, .privacy ul li {
	font-size: 0.9rem;
}

.account .delete {
	color: black;
}

.total-supports{
	font-weight: 500 !important;
}

.account span {
	font-size: 14px;
}

footer{
  background-color: #fff;
  border-top: 6px solid #fff;

  p {
  	font-size: 0.5rem;
  }
}

.avatar-title{
  font-size: 32px;
  color: white;
  padding: 5px 15px;
  border-radius: 65px;
}

.avatar-mini{
  font-size: 18px;
  color: white;
  padding: 5px 16px;
  border-radius: 65px;
}

.pull{
	float: right !important;
}

.footer {
  background: #fff;
  border-top: 6px solid #fff;
  padding-top: 3.5rem;
}

a:focus {
  outline: 3px solid #f2ca30 !important;
}

.margin-left-10{
	margin-left: 15px;
}

.padding {
  padding-bottom: 0rem;
}

.text-white{
	color: #fff;
}

.small-margin-right{
	margin-right: 10px;
}

.subnavigation a {
    font-weight: 300;
}

.m-big-title{
	font-size: 30px;
}

.m-big-text{
	font-size: 25px;
	font-weight: 100 !important;
}

.proposal-title {
	font-size: 1.4rem !important;
}

.big-p{
	font-size: 18px;
}

.big-date{
	font-size: 14px;
}

p{
	font-size: 0.9rem;
}

.body-link:hover {
    color: #000;
}

footer .logo a:hover {
  color: #08296c !important;
}

.logo a:hover {
  color: #fff !important;
}

.ih-footer {
	line-height: 1.2rem !important;
}

a:focus {
    color: #fff;
    outline: 3px solid #ffbf47;
}

a:hover, a:focus {
    color: none !important;
  }

.proposals-create, .proposal-edit{
  position: relative;
}

.line-h-2{
	line-height: 2.0rem !important;
}

.log-text{
	font-size: 22px;
	display: inline-block;
	margin-top: 20px;
	text-align: left;
}

.comments {
  @include direct-uploads;
}

.float-right .comment-by-organism {
  margin-right: 5px;
}

.top-bar .top-bar-title a {
  line-height: 0.5rem;
  width: 550px;
}

.footer, .push {
  min-height: 6rem;
}

.footer {
    margin-top: 0;
}

.footer-5rem {
  margin-top: 8rem;
}

.small-margin-right-30{
	margin-right: 0px;
}

a:focus {
  color: initial;
}

@media (min-width: 1300px) {

	.margin-footer-p{
		padding-left: 0px;
	}

}

@media (min-width: 810px) and (max-width: 1030px) {
	.pull-top-3{
		margin-top: -10px !important;
	}

	.pull-top-2{
		margin-top: -10px !important;
	}

	.pull-top-1{
		margin-top: -10px !important;
	}

	.titel-margin-left{
		margin-left: 15px;
	}

	.small-margin-left{
		margin-left: 16px;
	}

	.top-bar .top-bar-title a {
		padding-left: 12px;
	}

	.yellow-border{
		max-height: 8rem !important;
		min-height: 8rem !important;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1025px) {
	.pull-top-3{
		margin-top: -10px !important;
	}

	.pull-top-2{
		margin-top: -10px !important;
	}

	.pull-top-1{
		margin-top: -10px !important;
	}

	.titel-margin-left{
		margin-left: 15px;
	}

	.small-margin-left{
		margin-left: 16px;
	}

	.top-bar .top-bar-title a {
		padding-left: 12px;
	}

	.yellow-border{
		max-height: 8rem !important;
		min-height: 8rem !important;
		margin-bottom: 20px;
	}

	.big-p {
    font-size: 16px !important;
	}

}

@media (min-width: 100px) and (max-width: 700px) {
	.logo {
	  font-size: 18px;
	  display: inline;
	}
	.top-bar {
    line-height: 1.2rem;
	}

	.big-text{
		font-size: 32px !important;
	}

	.medium-text{
		font-size: 18px !important;
	}

	.line-h-3_5{
		line-height: 2.0rem !important;
	}

	.yellow-border{
		margin-bottom: 5px;
	}

	.highlight{
		background-image: asset_url('home-bg-small.png') !important;
		min-height: 200px;
	}
	.logo-yellow {
    margin-bottom: -15px !important;
	}

	.small-margin-top-30{
		margin-top: 50px !important;
	}
	.margin-bot-50{
		margin-bottom: 0px !important;
	}
}

@media (min-width: 100px) and (max-width: 768px) {
	.logo {
	  font-size: 18px !important;
	  display: inline;
	  margin-left: 12px;
	}

	.m-big-text{
		font-size: 22px !important;
	}

	.titel-margin-left{
		margin-left: 10px;
	}


	.big-p {
    font-size: 16px !important;
	}

	footer .medium-text{
		font-size: 18px !important;
	}

	.title-margin-left{
		margin-left: 15px;
	}

	.tablet-logo{
		margin-top: -35px;
	}

	.top-bar .top-bar-right {
    width: min-content;
	}

	.yellow-border{
		max-height: 10rem !important;
		min-height: 10rem !important;
		margin-bottom: 20px;
	}

	.pull-top-3{
		margin-top: -10px !important;
	}

	.pull-top-2{
		margin-top: -10px !important;
	}

	.pull-top-1{
		margin-top: -10px !important;
	}

	.blue-text{
		font-size: 28px;
	}

	.log-text{
		font-size: 15px;
		display: inline-block;
		text-align: left;
		margin-top: 20px;
	}

	.margin-footer-p{
		margin-right: 0px;
		margin-top: -88px !important;
		margin-left: 5px !important;
		margin-bottom: 0px;
	}

	.small-margin-left{
		margin-left: 20px;
	}
}

@media (min-width: 100px) and (max-width: 575px) {
	.top-bar .top-bar-right {
		width: initial !important;
	}

	.big-p {
    font-size: 18px !important;
	}

	.margin-footer-p{
		margin-left: 10px !important;
		margin-top: 0px !important;
		float: left !important;
	}

	.menu-margin{
	  margin-top: 20px;
	  float: left !important;
	}

	.yellow-border{
		max-height: 8rem !important;
		min-height: 8rem !important;
		margin-bottom: 5px;
	}

	.log-text{
		font-size: 22px;
		display: block;
		margin-top: 0px;
	}

	.presidencia-margin{
		margin-right: 60px;
	}

	.pull-top-3{
		margin-top: -15px !important;
	}

	.pull-top-2{
		margin-top: -5px !important;
	}

	.pull-top-1{
		margin-top: -5px !important;
	}

	.pull{
		float: left !important;
	}

	.small-margin-left{
		margin-top: 20px;
		float: left !important;
	}

	.footer {
		padding-top: 0.5rem;
	}
}

@media (min-width: 100px) and (max-width: 375px) {
	.logo {
	  font-size: 14px !important;
	  display: inline;
	}

	.pull-top-3{
		margin-top: -15px !important;
	}

	.pull-top-2{
		margin-top: -15px !important;
	}

	.pull-top-1{
		margin-top: -15px !important;
	}

	.condition-and-privacy-small {
	  display: block;
	}

}


@media (min-width: 100px) and (max-width: 325px) {
	.logo {
	  font-size: 12px !important;
	  display: inline;
	}
	.top-bar {
    line-height: 1.2rem;
	}

	.log-text{
		font-size: 18px;
	}

	.presidencia-margin{
		margin-right: 60px;
	}

	.m-big-title{
		font-size: 24px !important;
	}

}

.m-big-title-blue {
	color: #08296c;
}

.pull-right {
  float: right;
}

.accept-terms-text{
	font-size: 0.9rem;
}

.terms-and-conditions label {
	padding-left: 20px;
  margin-bottom: -30px;
}

.terms-and-conditions .input-not-accept {
	margin-left: 20px;
}

.terms-and-conditions .span-not-accept {
	padding-left: 7px;
}

.proposal-show .persisted-image {
  max-width: 70%;
}
