@font-face{
font-family: 'Montserrat-Medium';
  src: url(font-path('Montserrat-Medium.ttf'));
}

html {
  font-family: Montserrat-Medium !important;
}

body {
  font-family: Montserrat-Medium !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat-Medium !important;
}

a {
  font-family: Montserrat-Medium !important;
}

p {
  font-family: Montserrat-Medium !important;
}


div {
  font-family: Montserrat-Medium !important;
}

.lead{
	font-size: 16px;
}
