<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url,
              social_title: 'Gobierno abierto',
              social_description: 'Propuestas para el 4ª Plan de Acción' %>
<% end %>

<div class="jumbo highlight">
  <div class="row">
    <div class="small-12 medium-9 column pull-left">
      <p class="big-text margin-top-30 line-h-3_5">El 4° Plan de Acción lo construimos entre todos.</p>
      <p class="lead medium-text show-for-small-only">
        Sumate a esta herramienta de participacion ingresando tu propuesta
      </p><br>
       <p class="medium-text margin-top-30">Etapas del proceso de pro-creacion</p>
    </div>
  </div>
</div>

<% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
  <%= render "recommended",
              recommended_debates: @recommended_debates,
              recommended_proposals: @recommended_proposals %>
  <hr>
<% end %>
<div class="row">
  <p class="blue-text big-text hide-for-small-only hide-for-medium-only">Etapas del proceso de pro-creacion</p>
</div>
<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="small-12 column text-center margin-bot-50">
      <div class="row margin padding">
        <div class="small-12 medium-3 pull-left yellow-border column">
          <h2 class="blue-text">crear</h2>
          <p>tu propuesta de forma presencial o virtual</p>
        </div>
        <div class="small-12 medium-3 pull-left yellow-border column">
          <h2 class="blue-text">priorizar</h2>
          <p>los compromisos que se incorporaran al 4to plan</p>
        </div>
        <div class="small-12 medium-3 pull-left yellow-border column">
          <h2 class="blue-text">compartir</h2>
          <p>las propuestas a travez de una consultapublica</p>
        </div>
        <div class="small-12 medium-3 pull-left yellow-border column">
          <h2 class="blue-text">aprobar</h2>
          <p>los compromisos definidos y publicar el 4to plan</p>
        </div>
      </div>
    </div>
  </main>
<% end %>
