<div class="help-header no-margin-top margin-bottom">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <h3 class=" blue-text inline-block">Propuestas</h3>
      <%= link_to t("#{i18n_namespace}.help"), "#section_help", class: "float-right" %>
    </div>
  </div>
</div>
