<% if is_proposals %>
  <div class="help-header no-margin-top margin-bottom">
    <div class="row">
      <div class="small-12 column" data-magellan>
        <h3 class=" blue-text inline-block">Propuestas</h3>
        <% if !Proposal.is_proposal.in_active_period?  %>
          <div>
            <p>
              Finalizó el plazo para ingresar nuevas propuestas. El Grupo de Trabajo de Gobierno Abierto y los organismos
              del Estado se encuentran analizando todas la propuestas. Para obtener más información sobre las etapas del
              proceso, ingresar en la opción
              <%= link_to "Más información", more_info_path %> o
              <%= link_to "www.gobiernoabierto.gub.uy", "http://gobiernoabierto.gub.uy/", target: "_blank" %>
            </p>
          </div>
        <% end %>
        <%= link_to t("#{i18n_namespace}.help"), "#section_help", class: "float-right" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="help-header no-margin-top margin-bottom">
    <div class="row">
      <div class="small-12 column" data-magellan>
        <h3 class=" blue-text inline-block">Consultas Públicas</h3>
        <div>
          <p>
            A través de la consulta pública podrás conocer los compromisos que integrarán el 4to plan de Acción de
            Gobierno Abierto, y realizar aportes que enriquezcan cada una de las iniciativas.
          </p>
        </div>
        <%= link_to t("#{i18n_namespace}.help"), "#section_help", class: "float-right" %>
      </div>
    </div>
  </div>
<% end %>
