<div class="sidebar-card">
  <h4>Conoce toda la informacion del proceso</h4>
  <p><%= t("pages.more_info.faq.description") %></p>
  <%= link_to t("pages.more_info.faq.button"), faq_path, class: "button expanded" %>
</div>
